Final-Build-Workflow.json
{
  "name": "AI-Code_Reviewer",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "850c1b75-d6ac-4067-814d-eb5acb69d518",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        168,
        456
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "IRq23CL37v4WHB0B",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "Jack9507",
          "mode": "list",
          "cachedResultName": "Jack9507",
          "cachedResultUrl": "https://github.com/Jack9507"
        },
        "repository": {
          "__rl": true,
          "value": "FastAPI",
          "mode": "list",
          "cachedResultName": "FastAPI",
          "cachedResultUrl": "https://github.com/Jack9507/FastAPI"
        },
        "events": [
          "pull_request"
        ],
        "options": {}
      },
      "id": "b1fc1a10-003e-463e-9869-43c1e90b5bd7",
      "name": "PR Trigger",
      "type": "n8n-nodes-base.githubTrigger",
      "position": [
        -576,
        232
      ],
      "webhookId": "2b8ec7bd-e65b-46d2-a2d9-082b137dd880",
      "notesInFlow": false,
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "vSvFYtH9EjsgHqOP",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{$json.body.sender.login}}/{{$json.body.repository.name}}/pulls/{{$json.body.number}}/files",
        "options": {}
      },
      "id": "ac6c52c8-3648-499c-95c8-5790aa2ff588",
      "name": "Get file's Diffs from PR",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -352,
        232
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const files = $input.all().map(item => item.json);\n\nlet diffs = '';\n\nfor (const file of files) {\n  diffs += `### File : ${file.filename}\\n\\n`;\n\n  //check if the currrent file has changes with \"file.patch\"\n  if (file.patch) {\n    // IMPORTANT : Replace all triple backticks with single quotes (or escape them)\n    const safePatch = file.patch.replace(/```/g, \"''\");\n\n    diffs += \"```diff\\n\";\n    diffs += safePatch;\n    diffs += \"\\n```\\n\";\n  } else {\n    diffs += \"_No patch available (likely a binary file)._\";\n  }\n\n  diffs += \"\\n---\\n\\n\";\n}\n\nconst userMessage = `\nYou are a senior Python developer. \nYou are an expert code reviewer. Your task is to analyze the following code changes and identify any issues:\n\n${diffs}\n\n---\n\nYour mission:\n\n1.  Review the code changes provided above.\n2.  Identify potential issues, including bugs, security vulnerabilities, performance problems, and deviations from best practices.\n3.  For each issue you find, classify its severity as either **CRITICAL** or **NORMAL**.\n    *   **CRITICAL**: Major issues like security risks, data loss, application crashes, or significant performance degradation.\n    *   **NORMAL**: Minor issues like style suggestions, best practice improvements, or readability enhancements.\n4.  You MUST provide your response as a single, valid JSON object. Do not include any text or explanations outside of the JSON.\n5.  The JSON object must contain a single key \"reviews\", which is an array of review objects.\n6.  Each review object in the array must have the following keys: \"file\" (the filename), \"line\" (the relevant line number), \"severity\" (either \"CRITICAL\" or \"NORMAL\"), and \"comment\" (your review feedback).\n\nIf you find no issues, return a JSON object with an empty \"reviews\" array: {\"reviews\": []}.\n\nExample of a valid JSON response:\n{\n  \"reviews\": [\n    {\n      \"file\": \"src/user/service.js\",\n      \"line\": 42,\n      \"severity\": \"CRITICAL\",\n      \"comment\": \"This database query is not sanitized and is vulnerable to SQL injection.\"\n    },\n    {\n      \"file\": \"src/ui/button.js\",\n      \"line\": 15,\n      \"severity\": \"NORMAL\",\n      \"comment\": \"Consider using a 'guard' statement here for better readability.\"\n    }\n  ]\n}\n`;\n\nreturn [\n  {\n    json: {\n      user_message: userMessage.trim()\n    }\n  }\n];"
      },
      "id": "8bb0b8ec-0611-417e-ac5b-65ae0330def2",
      "name": "Create target Prompt from PR Diffs",
      "type": "n8n-nodes-base.code",
      "position": [
        -128,
        232
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "review",
        "owner": {
          "__rl": true,
          "value": "Jack9507",
          "mode": "list",
          "cachedResultName": "Jack9507",
          "cachedResultUrl": "https://github.com/Jack9507"
        },
        "repository": {
          "__rl": true,
          "value": "FastAPI",
          "mode": "list",
          "cachedResultName": "FastAPI",
          "cachedResultUrl": "https://github.com/Jack9507/FastAPI"
        },
        "pullRequestNumber": "={{ $('PR Trigger').first().json.body.number }}",
        "event": "comment",
        "body": "=File: {{ $(\"Code in JavaScript\").item.json.file }}\nLine: {{ $(\"Code in JavaScript\").item.json.line }}\nSeverity: {{ $(\"Code in JavaScript\").item.json.severity }}\nMessage: {{ $(\"Code in JavaScript\").item.json.comment }}",
        "additionalFields": {}
      },
      "id": "bb5cb6eb-c773-4777-944e-51c685dea9b4",
      "name": "GitHub Robot",
      "type": "n8n-nodes-base.github",
      "position": [
        1120,
        232
      ],
      "webhookId": "39c2fe8b-f686-4699-8450-2a5b4c263d93",
      "typeVersion": 1.1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "vSvFYtH9EjsgHqOP",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "Jack9507",
          "mode": "list",
          "cachedResultName": "Jack9507",
          "cachedResultUrl": "https://github.com/Jack9507"
        },
        "repository": {
          "__rl": true,
          "value": "FastAPI",
          "mode": "list",
          "cachedResultName": "FastAPI",
          "cachedResultUrl": "https://github.com/Jack9507/FastAPI"
        },
        "issueNumber": "={{ $('PR Trigger').first().json.body.number }}",
        "editFields": {
          "labels": [
            {
              "label": "ReviewedByAI"
            }
          ]
        }
      },
      "id": "07674da5-b449-49aa-b849-203884946291",
      "name": "Add Label to PR",
      "type": "n8n-nodes-base.github",
      "position": [
        1344,
        232
      ],
      "webhookId": "c98f39f1-603b-4013-9149-53b4cc31b611",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "vSvFYtH9EjsgHqOP",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "**1-The GitHub Trigger** node initiates the workflow whenever a pull request event occurs on a specified repository. It enables real-time automation based on GitHub activity.\n"
      },
      "id": "ed1f3760-7501-4987-a4cc-d1414984523c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "options": {}
      },
      "id": "8450b393-7896-4281-81df-ce9c5f111097",
      "name": "Code Review Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        96,
        232
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9e84d9b7-cf72-4bed-ab9d-a1a3bcd5aaaa",
              "leftValue": "={{ $json.severity }}",
              "rightValue": "=CRITICAL",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        232
      ],
      "id": "aadfcdfd-74ff-4f6c-9936-7fa62facf1f5",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09HJA8TA0H",
          "mode": "list",
          "cachedResultName": "n8n-alerts"
        },
        "text": "=File: {{ $json.file }}\nLine: {{ $json.line }}\nSeverity: {{ $json.severity }}\nMessage: {{ $json.comment }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        896,
        96
      ],
      "id": "f1d81c73-8d96-410d-86be-ecf8abb7b062",
      "name": "Send a message",
      "webhookId": "c3009334-8594-4ea2-a549-e589e1cb80ae",
      "credentials": {
        "slackOAuth2Api": {
          "id": "toz03g4Nvg7Oxuej",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed = JSON.parse($json.output);\nreturn parsed.reviews.map(review => review);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        232
      ],
      "id": "563907d8-e704-481a-9323-f6ee2d49a6a9",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "PR Trigger": {
      "main": [
        [
          {
            "node": "Get file's Diffs from PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Robot": {
      "main": [
        [
          {
            "node": "Add Label to PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Review Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Code Review Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get file's Diffs from PR": {
      "main": [
        [
          {
            "node": "Create target Prompt from PR Diffs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create target Prompt from PR Diffs": {
      "main": [
        [
          {
            "node": "Code Review Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub Robot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "GitHub Robot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a1107f81-f84b-4ed8-a0d7-966ad3c5eab3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "113a39f588f09b7c2eaab5f188342a0246e5a59d95808a78d7004c4be183b8ea"
  },
  "id": "4omQFUzXGyMH7DdR",
  "tags": []
}
